.footer {
  padding-top: 133px;
  padding-bottom: 46px;
}

.footer__line {
  background: #9c69e2;
  opacity: 0.2;
  height: 2px;
  align-self: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  padding-top: 100px;
  margin-right: 338px;
}

.footer__text__title {
  margin-top: auto;
}

.footer__text__paragraph {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
}

.footer__text__subparagraph {
  font-size: 0.75rem;
  line-height: 180%;
  margin-top: 75px;
}

.footer__buttons {
  position: relative;
  padding-top: 121px;
  display: flex;
  justify-content: space-between;
}

.footer__buttons__learn-more {
  width: 10.625rem;
  height: 3.75rem;
  background: #f063b8;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  font-weight: 900;
  font-size: 1.125rem;
  line-height: 160%;
  color: #ffffff;
}

.footer__buttons__request-demo {
  width: 13.125rem;
  height: 3.75rem;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-left: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 1rem;
  font-weight: 800;
  color: #212353;
}

.footer__buttons__messager {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;

    padding-top: 30px;
    margin: auto;
  }

  footer {
    flex-direction: column;
  }

  .footer__line {
    background: #9c69e2;
    opacity: 0.2;
    height: 2px;
    width: 100vw;
    align-self: flex-start;
    margin-bottom: 15px;
  }

  .footer__text {
    padding-top: 0;
    margin-right: 0;
  }
  .footer__text__title {
    margin-bottom: 0px;
  }

  .footer__text__paragraph {
    margin-top: 10px;
  }

  .footer__text__subparagraph {
    margin-top: 100px;
    text-align: left;
  }

  .footer__buttons {
    padding-top: 0;
    height: 0px;
  }

  .footer__buttons__learn-more {
    display: none;
  }

  .footer__buttons__request-demo {
    width: 100vw;
    position: relative;
    top: -110px;

    justify-content: center;
  }

  .footer__buttons__request-demo img {
    padding-left: 10px;
  }

  .footer__buttons__messager {
    top: -37px;
  }

  .footer__buttons__messager img {
    width: 35px;
    height: 35px;
  }
}
