body {
  font-family: Avenir, sans-serif;
  color: #4b5d68;
  background-color: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: #4b5d68;
}

button{
    border: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #212353;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
