.hero {
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
  }
}

.hero__learn-more {
  width: 10.625rem;
  background-color: #9c69e2;
  border-radius: 3.125rem;

  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 160%;
  margin-top: 2.5rem;
}

.hero__title {
  width: 645px;
}

.hero__paragraph {
  width: 23.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
}

.hero__image {
  position: absolute;
  right: -10%;
  top: 25%;
}

@media screen and (max-width: 768px) {
  .hero {
    margin-top: 75px;
  }

  .hero__image {
    display: none;
  }

  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 3.25rem;
  }

  .hero__paragraph {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}
