.intro {
  padding-top: 199px;
}
.intro__content {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 3.125rem;

  display: flex;
  align-items: center;
}

.intro__image {
  margin-left: 11px;
  margin-right: 62px;
}

.intro__text {
  margin-right: 93px;
}
.intro__paragraph {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 50px;
  }

  .intro__content {
    background: none;
  }

  .intro__text {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 3.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__paragraph {
    padding: 0px 15px;
  }

  .intro__image {
    display: none;
    margin-left: auto;
  }
}
