.header {
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
}

.header__logo {
  width: 75px;
  height: 75px;
  margin: 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.header__nav__item {
  padding: 15px;
  margin: 0px 20px;
  border-radius: 20px;
  width: 150px;

  font-size: 24px;
  text-align: center;

  transition: background-color 0.3s;
}

.header__nav__item:hover {
  background-color: lightgray;
}
