.catalog_item {
  margin: 10px 19px;
  height: 650px;
  width: 300px;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog_item__header {
  width: 100%;
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.catalog_item__header__heading {
  font-weight: normal;
  margin: 10px;
}

.catalog_item__body {
  margin: 5px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog_item__body__image {
  width: 200px;
  margin: 5px 0px;
}

.catalog_item__body__title {
  margin: 3.75px 0px;
  text-align: center;
}

.catalog_item__body__paragraph {
  font-size: 15px;
  height: 200px;
  margin: 10px 0px;
}

.catalog_item__body__price__display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
