.cart_no_items_text {
  margin: 200px 0px;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
}

.cart_items {
  margin-bottom: 150px;
}

.cart_items__items {
  margin-top: 30px;
}

.cart_items__total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 37%;
}

.cart_items__total_price__label {
  font-size: 28px;
}

.cart_items__total_price__value {
  font-size: 28px;
  font-weight: bold;
  margin-right: 50px;
}
