.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.header__menu {
  display: none;
  cursor: pointer;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
  font-size: 1rem;
  font-weight: 500;
}

.header__nav-item:hover {
  color: #212353;
  font-weight: 800;
  line-height: 60%;
}

.header__logo {
  margin-right: 81px;
}

.header__request-demo {
  margin-left: auto;

  height: 3.75rem;
  width: 13.125rem;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 1rem;
  font-weight: 800;
  color: #212353;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    margin-top: 0px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
  }

  .header__request-demo {
    display: none;
    margin: 0px;
  }

  .header__menu {
    display: block;
    z-index: 10;
  }

  .header__nav {
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    clip-path: circle(0 at top right);
    transition: clip-path 0.3s ease-in;
  }

  .header__nav.open {
    clip-path: circle(1000px at top);
  }

  .header__nav ul {
    flex-direction: column;
    padding: 30px 0px;
  }

  .header__nav-item {
    font-size: 2rem;
    padding: 20px 0px;
    margin-right: 0px;
  }
}
