.order_page_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  border-width: 2px;
}

.order_page_main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1200px;
  padding: 0px 10px;
}
