.saw-card {
  margin: 4.875px;
  padding: 15px;
  background-color: green;
  border-radius: 7.5px;

  color: white;
}

.saw-card__body__title {
  font-size: 17px;
  margin: 3.75px 0px;
}

.saw-card__body__paragraph {
  font-size: 15px;
  margin: 10px 0px;
}

.saw-card__buttons {
  display: flex;
  justify-content: space-between;
}

.saw-card__edit-button {
  background-color: white;
  border-radius: 6px;
  border: solid;
  border-color: blue;
  border-width: 2.25px;
  width: 90px;

  padding: 5px 0px;

  font-size: 13.5px;
  color: blue;

  transition: background-color 0.3s, color 0.3s;
}

.saw-card__edit-button:hover {
  background-color: blue;
  color: white;
}

.saw-card__delete-button {
  background-color: white;
  border-radius: 6px;
  border: solid;
  border-color: red;
  border-width: 2.25px;
  width: 90px;

  padding: 5px 0px;

  font-size: 13.5px;
  color: red;

  transition: background-color 0.3s, color 0.3s;
}

.saw-card__delete-button:hover {
  background-color: red;
  color: white;
}
