.cart_page__back_to_catalog_button {
  font-size: 24px;
  color: rgb(46, 46, 46);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12.5px;
  margin-bottom: 10px;
  padding: 10px 10px;

  transition: background-color 0.3s, color 0.3s;
}

.cart_page__back_to_catalog_button:hover {
  color: white;
  background-color: rgb(46, 46, 46);
  border-color: black;
}
