.item_page_item__lower_part__buttons__add_to_cart_button {
  font-size: 20px;
  color: white;
  background-color: rgb(46, 46, 46);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12.5px;
  margin-bottom: 10px;
  padding: 10px 30px;

  transition: background-color 0.3s, color 0.3s;
}

.item_page_item__lower_part__buttons__add_to_cart_button:hover {
  color: rgb(46, 46, 46);
  background-color: white;
}
