.main {
  padding-top: 30px;
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
}

.main_item {
  display: flex;
  padding: 30px;
}

.main_item__image {
  width: 350px;
  height: 350px;
  margin: 20px;
}

.main_item__text {
  margin: 20px;
}

.main_item__heading {
  margin-top: 0px;
  font-size: 40px;
}

.main_item__paragraph {
  font-size: 20px;
}

.items {
  display: flex;
  justify-content: space-evenly;
}

.item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__image {
  width: 250px;
  height: 250px;
}

.view_more {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.view_more__button {
  font-size: 20px;
  color: white;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  padding: 15px 40px;

  transition: background-color 0.3s, color 0.3s;
}

.view_more__button:hover {
  color: rgb(46, 46, 46);
  background-color: white;
}
