.order_page__submit_order_button {
  font-size: 24px;
  color: white;
  background-color: rgb(46, 46, 46);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12.5px;
  padding: 10px 40px;

  transition: background-color 0.3s, color 0.3s;
}

.order_page__submit_order_button:hover {
  color: rgb(46, 46, 46);
  background-color: white;
  border-color: black;
}
